h2{
    color: #8707ff;
}
.terror{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
   .img{
        width: 200px;
        height: 250px;
        object-fit: cover;
    }
    
}